Source: pr2-kinect2
Section:config
Priority: extra
Maintainer: Rahul Rawat <rrawat@clearpathrobotics.com>
Build-Depends: debhelper (>= 9), config-package-dev (>= 4.5~)
Standards-Version: 3.7.2

Package: pr2-kinect
Architecture: any
Depends: beignet-dev, beignet-opencl-icd
Description: Installs pr2-kinect2 configuration for PR2-head.
	pr2-kinect contains a script that instal iai_kinect2 (kinect2 ros drivers) and libfreenect2 (driver for kinect2). 
	This deb package was created for the Intel Nuc installments in the PR2 which run the ros bridge node, kinect2_bridge.
Provides: pr2-kinect 
